:root{

    font-size: 18px;

    --header-bgColor: rgb(19, 94, 255);
    --canvas-bgColor: #fff;
    --toolbar-bgColor: #1a67f5;
    --tools-bgColor: #fff;
    --tools-active-bgColor: rgba(255, 255, 255, 0.849);
    --tool-iconColor-color: #000;
    --tool-iconPoint-color: #000;
    --tool-iconErase-color: rgb(247, 61, 61);

    --canvas-shadow-inset: rgba(0, 0, 0, 0.2);
    --header-shadow: rgba(0, 0, 0, 0.473);

    --font-size-title: 1.6rem;
    --font-size-text: 1rem;

    --font-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: absolute;
    top: -70px;
    width: 100%;
    height: 70px;
    transition: .7s ease;
    background-color: var(--header-bgColor);
    z-index: 2;
}

main{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


canvas {
    background-color: var(--canvas-bgColor);
    box-shadow: inset 0 0 10px 2px var(--canvas-shadow-inset);
    width: 100vw;
    height: 100vh;
    position: absolute;
    border-radius: 5px;
    z-index: 1;
    top: 0;
    left: 0;
}

.menu-header {
    border-radius: 0 0 10px 5px;
    width: 100%;
    height: 90%;
    font-family: "Grape Nuts", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size-title);
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 5px 10px rgb(255, 255, 255),
    0 6px 5px 0 rgba(255, 255, 255, 0.925);
}

.menu-header svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    padding-bottom: 5px;
}

.menu-header svg polygon, .menu-header svg path {
    fill: var(--canvas-bgColor);
    stroke: var(--canvas-bgColor);
  }

.toolbar {
    position: fixed;
    bottom: 0px;
    right: -10px;
    background-color: var(--toolbar-bgColor);
    width: 80px;
    height: 80px;
    border-radius: 100% 100% 0% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: 0.3s ease;
}

:not(.toolbar:hover) > .icon {
    display: flex;
}

.icon{
    width: 100%;
    height: 100%;
    display: none;
}

.icon.settings{
    position: absolute;
    left: 5px;
    top: 10px;
    width: max-content;
    height: max-content;
}

.icon.settings i{
    font-size: 1.6rem;
}

.toolbar:hover ~ header .icon.settings i {
    transform: rotate(180deg);
}

.icon.settings:hover i{
    transform: rotate(-180deg);
    transition: 0.5s ease;
}

.icon i, .tools i{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--font-color);
    transition: 0.5s ease;
    z-index: 4;
}

.toolbar:active > .icon i{
    font-size: 2.5rem;
    transition: 0.3s ease;
}

.toolbar:hover .tools i{
    animation: moveY 0.3s ease both alternate;
}

.toolbar:hover {
    border-radius: 5px 5px 0 0 ;
    width: 100%;
    right: 0;
    transition: 0.3s ease;
}

.container-tools {
    height: 100%;
    width: 100%;
    display: none;
    justify-content: space-around;
    align-items: center;
}

.toolbar:hover .container-tools{
    display: flex;
}

.toolbar:hover ~ header{
    top: 0px;
}

.tools {
    width: 75px;
    height: 90%;
    border-radius: 100%;
    background-color: var(--tools-bgColor);
    z-index: 1;
    transition: 0.1s ease;
}

.tools:nth-child(1) i{
    color: var(--tool-iconColor-color);
}

.tools:nth-child(2) i{
    color: var(--tool-iconPoint-color);
}

.tools:nth-child(3) i{
    color: var(--tool-iconErase-color);
}

.tools:active {
    background-color: var(--tools-active-bgColor);
    transition: 0.1s ease;
}

.tools i{
    transition: all 0.1s ease;
}

.tools:active i {
    font-size: 1.9rem;
    transition: all 0.1s ease;
}

@keyframes moveY {
    from{
        transform: translateY(10px);
    }
    to{
        transform: translateY(0px);
    }
}
